h1{
    color:red;
}

.hero-1{
    background-color: yellow;
}

.background-image{
    /* background-color: firebrick; */
    height: 100vh;
    /* width:100vh; */
    background: url(./images/main.jpg), url(./images/wall3.JPG);
    background-size: cover;
    background-blend-mode: multiply;


}